body {
    color: #000;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a {
    color:#000fff;
    text-decoration: none
}

a:hover {
    color:#4a54ff;
    text-decoration: underline;
}

.main {
    padding:15px;
    width: 650px;
    text-align: center;
    margin: 0 auto;
    background-color: #EAE4DD;
}

.contents {
    margin-left: 50px;
    margin-right: 50px;
}

.title {
    width: 650px;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 20px;
}

h2 {
    font-size: 40px;
    border: 2.5px solid #0000aa;
    color: #ffac00;
    background-color: rgba(50,50,255,0.25);
    margin-top:0;
    margin-bottom:20px;
}

h3 {
    font-size: 25px;
    color: #FFEB3B;
    text-shadow: 2px 2px 1.5px #000000;
    margin-top:0;
    border-bottom:3px solid #0090f2;
    border-left:9px solid #93d3fe;
}

.modern h3, h3.modern {
    font-size: 22px;
    color: #000;
    text-shadow: none;
    margin-top:-15px;
    padding: 5px;
    border:none;
    background: #ffeded;
    border-left:18px solid #000;
    text-align: left;
}

.modern h4, h4.modern {
    font-size: 20px;
    color: #000;
    text-shadow: none;
    padding: 3px;
    margin-top:-15px;
    border:none;
    border-bottom:1px solid #000;
    text-align: left;
}

.modern h5, h5.modern {
    font-size: 16px;
    color: #000;
    text-shadow: none;
    padding: 1px;
    padding-left: 5px;
    margin-top:-15px;
    border:none;
    border-left:3px solid #000;
    text-align: left;
}

.modern img.left {
    float:left;
    width:450px;
    margin-right: 15px;
}

.modern iframe.left {
    float:left;
    width:450px;
    height:254px;
    margin-right: 15px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

.open_sub_window_red {
    text-align: center;
    margin: 0 auto;
    display: inine;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 10px;
    text-shadow: 2px 3px 3px #fff;
    background-color: #d10505;
    -webkit-text-stroke: 1px #ffe400;
    text-stroke: 1px #ffe400;
    color: #000000;
    text-align: center;
    cursor: pointer;
    border-top: 2px solid #dec1c1;
    border-left: 2px solid #dec1c1;
    border-right: 2px solid #b80000;
    border-bottom: 2px solid #b80000;
}

.open_sub_window_blue {
    text-align: center;
    margin: 0 auto;
    display: inine;
    font-size: 20px;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 10px;
    text-shadow: 2px 3px 3px #fff;
    background-color: #0505d1;
    -webkit-text-stroke: 1px #ffe400;
    text-stroke: 1px #ffe400;
    color: #000000;
    text-align: center;
    cursor: pointer;
    border-top: 2px solid #c1c1de;
    border-left: 2px solid #c1c1de;
    border-right: 2px solid #0000b8;
    border-bottom: 2px solid #0000b8;
}

.open_sub_window:hover {
    opacity: 0.75;
}

.check_sub_window {
    display: none;
}

.bg_sub_window {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.bg_sub_window:hover {
    transition: 0.5s;
}

.check_sub_window:checked + .bg_sub_window {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.sub_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    max-height: 80%;
    background-color: #fff;
    overflow-y: auto;
}
@media screen and (max-width: 767px) {
    .sub_window {
        width: calc(100% - 80px);
    }        
}
@media print, (min-width: 768px) {
    .sub_window {
        width: 80%;
        max-width: 900px;
    }
}

.close_sub_window {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
.close_sub_window::before,
.close_sub_window::after {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #818181;
    content: "";
}
.close_sub_window::before {
    width: 60%;
    height: 3px;
}
.close_sub_window::after {
    width: 3px;
    height: 60%;
}
.close_sub_window:hover {
    cursor: pointer;
}

.sub_window_content {
    display: table;
    margin: 0px auto;
}

img#profile_icon {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
}

p#footer {
    font-size: 15px;
    width: 100%;
    bottom: 0;
    margin-bottom: -45px;
    text-align: center;
    text-shadow: 25px;
}

@media (max-width:767px) {
    .main {
        padding: 15px;
        min-height: 535px;
        width: 325px;
    }

    img#profile_icon {
        float: none;
        display: block;
        margin:0 auto;
    }
    
    .contents {
        margin-left: 5px;
        margin-right: 5px;
    }

    .title {
        width: 325px;
        padding-bottom: 10px;
    }

    p#footer {
        font-size: 13px;
    }

    .modern img.left {
        float: none;
        width: 100%;
        margin-right: 15px;
    }
}