:root {
    --main-text: #000000;
    --main-bg: #ffffff;

    --item_a: #007bff;
    --item_a_hover: #003b79;

    --cmt : #005f00;
    --var : #379ac1;
    --str : #91082a;
    --arr : #ffda06;
    --func : #0019ba;
    --func_name : #007bff;
}

:root[theme="dark"] {
    --main-text: #ffffff;
    --main-bg: #000000;

    --cmt : #52993E;
    --item_a: #82b1ff;
    --item_a_hover: #007bff;
    
    --cmt: #7ec699;
    --var: #9cdaf2;
    --str: #f27983;
    --arr: #fff176;
    --func: #6a74cc;
    --func_name: #82b1ff;
}

html {
    color: var(--main-text);
    background-color: var(--main-bg);
}

body {
    color: var(--main-text);
}

a {
    color: var(--item_a);
}

.item a {
    color: var(--item_a);
}

.item a:hover {
    color: var(--item_a_hover);
    text-decoration:none;
}

.cmt {
    color: var(--cmt);
}

.var {
    color: var(--var);
}

.str {
    color: var(--str);
}

.arr, .block {
    color: var(--arr);
}

.item a,
.item .str {

    font-size: 25px;
}

.func {
    color: var(--func);
}

.func_name {
    color: var(--func_name);
}

.indent {
    margin-left: 20px;
}

/* テーブルのスタイル */
table {
    border-collapse: collapse;
    min-width: 50%;
    max-width: 99%;
    border: 1px solid #6c6c6c;
}

/* テーブルのヘッダ */
th {
    background-color: #e1ffff;
    border: 1px solid #d0d0d0;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

/* テーブルのセル */
td {
    border: 1px solid #d0d0d0;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

th:first-child, td:first-child {
    border-left: none;
}

tr:first-child th {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

th:last-child, td:last-child {
    border-right: none;
}

/* テーブルの行 */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}